src/test/resources/database_schema.dtd

<!ELEMENT dataset (
    user*,
    farm*,
    plot*)>

<!ELEMENT user EMPTY>
<!ATTLIST user
    id CDATA #REQUIRED
    login CDATA #REQUIRED
    password CDATA #REQUIRED
>

<!ELEMENT farm EMPTY>
<!ATTLIST farm
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    user_id CDATA #REQUIRED
>

<!ELEMENT plot EMPTY>
<!ATTLIST plot
    id CDATA #REQUIRED
    latitude CDATA #IMPLIED
    longitude CDATA #IMPLIED
    name CDATA #REQUIRED
    area CDATA #IMPLIED
    farm_id CDATA #REQUIRED
>

